<% include partials/header.ejs %>
<h1>Welcome to the about page</h1><br>
This app was created during workshop on nodejs. <br>
The app is used to make plans for a day and to see it. We can create and delete the goals when they are completed. Users are not included here because this is only a basic app. <br>
<br>
The code for the app can be found in <a href="https://github.com/abperni/Server-nodejs">Github link</a>. Do send any suggestion for change if you have any.<br>
<br>Hope you enjoy the app.
<% include partials/footer.ejs %>