<% include partials/header.ejs %>
<h1>Welcome to the about page :D </h1><br>
This app was created during workshop on nodejs. 
The app is used to make plans for a day and to see it.
<% include partials/footer.ejs %>