<% include partials/header.ejs %>
<br>
<ol>
    <%for(var i=0;i<title.length;i++)
    { %>
        <li> 
            <%= title[i]%>
        </li>
    <% } %>
</ol>
<script>
alert('Hi <%=title[0]%>')
</script>
<% include partials/footer.ejs %>