<% include partials/header.ejs %>
<h1>Form Data</h1>
<form method="post" action="/form">
    <label for="Goal">Goal</label>
    <input type="text" placeholder="Set your goal" name="title">
    <input type="submit" placeholder="Submit">
</form>
<% include partials/footer.ejs %>