<% include partials/header.ejs %>
<h1>Welcome to help page.</h1>
<br>1. You can see your goals from the goal section above.
<br>2. You can create goals from the Create Goals section.
<br>3. Want to know about the app? Goto About Section.
<br><br>Thats it for the day and enjoy the app.
<%include partials/footer.ejs %>
