<% include partials/header.ejs %>
<h1>Hello world</h1>
<h2>I am <%=name %> <%=caste%> </h2>
 
<a href='form'>Add Goals</a>
<br></a><a href='about'>About</a>
<br>
<a href='help'>help</a>

<% include partials/footer.ejs %>
