<% include partials/header.ejs %>
<h1>Hello, welcome to my first app</h1>
<h2>This is just a prototype web application</h2>
The app is for managing your daily goals. Have a great time using the app. 


<% include partials/footer.ejs %>
