<% include partials/header.ejs %>

<h1>
    Hey , here is your list of goals
</h1>

<div>
    <ol>
        <%for(var i=goals.length;i>=0;i--)
        { %>
            <li class="goals"> 
                <%=goals[i].title%>
            </li>
            <form action="/form/<%=goals[i]._id%>?_method=DELETE" method="POST">
                <button type="submit" onclick="return confirmDelete()">Delete</button>
            </form>
        <% } %>
    </ol>
        <!-- <ol class='goals'>{}
        <%goals.map(function(goal){%>
            <li><%=goal.title%><br></li>
        <% })%>
        <li>Goal</li>
    </ol> -->
</div>
<script>
    function confirmDelete(){
        return confirm("Are you sure ?");
    }
</script>
<% include partials/footer.ejs %>